body {
  background-color: #ffffff;
  color: #000000;
  line-height: 2;
  /*adjust the font size in one place*/
  font-size: 18px;
}

nav {
  /*adjust nav background color*/
  background-color: #6B0CC9;
  float: left;
  position: fixed;
  width: 100%;
}

/*adjust the style of the image caption*/
figcaption {
  font-size: 15px;
  color: #63625D;
}

/*change the style of title's text*/
h1 {
  font-weight: bold;
  font-size: 40px;
}

/*change the style of the subtitle's text*/
h3 {
  font-style:italic;
  line-height: 1.5;
  color: #63625D;
}

div {
  margin: auto;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a{
  text-decoration: none;
}

/*show interactive effects for the nav bar links*/
a:link { color:#FFFFFF; }
a:visited { color:#FBD72B; }
a:hover { color:#FFE70A; }
a:active { color:#FFFFFF; }
