body {
  background-color: #ffffff;
  color: #000000;
  line-height: 2;
  /* adjust font size */
  font-size: 18px;
}

a {
  text-decoration: none;
}

/* show interactive effects */
a:link {
  color:#FFFFFF;
}
a:visited {
  color:#FBD72B;
}
a:hover {
   color:#FFE70A;
 }
a:active {
  color:#FFFFFF;
}

article {
  padding-top: 100px;
}

/* stylize image caption */
figcaption {
  font-size: 14px;
  color: #63625D;
  padding-top: 2px;
}

/* stylize title's text */
h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* stylize subtitle's text */
h3 {
  font-style: italic;
  line-height: 1.5;
  color: #63625D;
}

header{
  margin: 20px;
}

nav {
  /*adjust nav background color*/
  background-color: #6B0CC9;
  float: left;
  position: fixed;
  width: 100%;
  top: 0;
}


ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

.logo {
  margin: 20px;
  width: 100px;
}

.medium-pic {
  width: 80%;
  vertical-align: middle;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}

.container {
  margin: 0 auto;
  width: 65%;
}
